@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

ul {
    background-color: rosybrown;
    display: flex;
    align-items: flex-start;
    list-style-type: none;
    margin-top: 20px;
    margin-left: 15px;
    padding: 0;
    font-family: Nunito;
}

#About {
    background-color: blue;
    text-decoration: none;
    color: #222;
}

#Store {
    background-color: red;
    text-decoration: none;
    color: #222;
}

#Gmail {
    background-color: green;
    text-decoration: none;
    color: #222;
}

#Images {
    background-color: yellow;
    text-decoration: none;
    color: #222;
}

#Apps {
    background-color: purple;
}

#Profile {
    background-color: skyblue;
    display: block;
    border-radius: 50%;
    width: 35px;
}

.google {
    background-color: red;
    display: block;
    width: 100;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 140px;
}

.searchbar {
    display: block;
    width: 550px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
}