nav ul {
    display: flex;
    align-items: flex-start;
    list-style-type: none;
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 0;
    padding: 10px;
    font-family: Arial;
}

.push-right {
    margin-left: auto;
}

#about {
    text-decoration: none;
    color: #222;
    font-size: 14px;
}

#about:hover {
    text-decoration: underline;
}

#store {
    text-decoration: none;
    color: #222;
    margin-left: 20px;
    font-size: 14px;
}

#store:hover {
    text-decoration: underline;
}

#gmail {
    text-decoration: none;
    color: #222;
    margin-right: 15px;
    font-size: 13px;
}

#gmail:hover {
    text-decoration: underline;
}

#images {
    text-decoration: none;
    color: #222;
    margin-right: 25px;
    font-size: 13px;
}

#images:hover {
    text-decoration: underline;
}

#apps {
    position: relative;
    top: -2px;
    margin-right: 20px;
}

#profile {
    position: relative;
    top: -6px;
    border-radius: 50%;
    width: 32px;
}

.google {
    display: block;
    width: 100;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 140px;
}

.searchbar {
    display: block;
    width: 550px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    font-size: 16px;
}

.buttons {
    display: flex;
    justify-content: center;
    outline: none;
}

.search-button {
    margin-right: 15px;
    margin-bottom: 10px;
    width: 130px;
    height: 35px;
    font-size: 14px;
    border-style: hidden;
    background-color: whitesmoke;
    font-family: Arial;
}

.lucky-button {
    width: 130px;
    height: 35px;
    font-size: 14px;
    border-style: hidden;
    background-color: whitesmoke;
    font-family: Arial;
}

p {
    font-family: Arial;
    text-align: center;
    font-size: 13px;
    padding-bottom: 10px;
}

#awesome {
    text-decoration: none;
}

#awesome:hover {
    text-decoration: underline;
}

footer ul{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    list-style-type: none;
    background-color: whitesmoke;
    margin-bottom: 0;
    align-items: flex-start;
    font-family: Arial;
    font-size: 14px;
}

#leaf-size {
    width: 12px;
    margin-right: 8px;
}

#carbon {
    text-decoration: none;
    color: #70757a;
    margin-left: 530px;
}

#carbon:hover {
    text-decoration: underline;
}

#advertising {
    text-decoration: none;
    color: #70757a;
    margin-left: 20px;
}

#advertising:hover {
    text-decoration: underline;
}

#business {
    text-decoration: none;
    color: #70757a;
    margin-left: 30px;
}

#business:hover {
    text-decoration: underline;
}

#how-search-works {
    text-decoration: none;
    color: #70757a;
    margin-left: 30px;
}

#how-search-works:hover {
    text-decoration: underline;
}

#privacy {
    text-decoration: none;
    color: #70757a;
    margin-right: 30px;
}

#privacy:hover {
    text-decoration: underline;
}

#terms {
    text-decoration: none;
    color: #70757a;
    margin-right: 30px;
}

#terms:hover {
    text-decoration: underline;
}

#settings {
    text-decoration: none;
    color: #70757a;
    margin-right: 20px;
}

#settings:hover {
    text-decoration: underline;
}

.push {
    margin-left: auto;
}
